# Data Formatting Script

Importing the necessary packages

In [2]:
import pandas as pd
import json

In [3]:
conf = pd.read_csv("data/raw_data/ucdp-prio-acd-181.csv")  # reading in conflict dyads data
conf.head()  # examining its structure

,conflict_id,location,side_a,side_a_id,side_a_2nd,side_b,side_b_id,side_b_2nd,incompatibility,territory_name,...,ep_end,ep_end_date,ep_end_prec,gwno_a,gwno_a_2nd,gwno_b,gwno_b_2nd,gwno_loc,region,version
0,200,Bolivia,Government of Bolivia,23,NaN,Popular Revolutionary Movement,719,NaN,2,NaN,...,1,1946-07-21,1.0,145,NaN,NaN,NaN,145,5,18.1
1,200,Bolivia,Government of Bolivia,23,NaN,MNR,720,NaN,2,NaN,...,1,1952-04-12,1.0,145,NaN,NaN,NaN,145,5,18.1
2,200,Bolivia,Government of Bolivia,23,NaN,ELN,721,NaN,2,NaN,...,1,1967-10-16,1.0,145,NaN,NaN,NaN,145,5,18.1
3,201,Cambodia (Kampuchea),Government of France,33,NaN,Khmer Issarak,160,NaN,1,Cambodia,...,0,NaN,NaN,220,NaN,NaN,NaN,811,3,18.1
4,201,Cambodia (Kampuchea),Government of France,33,NaN,Khmer Issarak,160,NaN,1,Cambodia,...,0,NaN,NaN,220,NaN,NaN,NaN,811,3,18.1

In [4]:
# Function to convert numeric values and return 0 if they are not numeric, 
# this will allow entries without countries as the co-belligerent to be filtered out
def integerize(x):
    try:
        return int(x)
    except ValueError:
        return 0
    
# Filter the data to just that have countries on both sides
country_conf = conf[conf.gwno_b.apply(integerize) > 0]
print(country_conf.shape) # shape of the data frame
print(country_conf.columns) # names of the columns
country_conf.head()

(125, 28)
Index(['conflict_id', 'location', 'side_a', 'side_a_id', 'side_a_2nd',
       'side_b', 'side_b_id', 'side_b_2nd', 'incompatibility',
       'territory_name', 'year', 'intensity_level', 'cumulative_intensity',
       'type_of_conflict', 'start_date', 'start_prec', 'start_date2',
       'start_prec2', 'ep_end', 'ep_end_date', 'ep_end_prec', 'gwno_a',
       'gwno_a_2nd', 'gwno_b', 'gwno_b_2nd', 'gwno_loc', 'region', 'version'],
      dtype='object')

,conflict_id,location,side_a,side_a_id,side_a_2nd,side_b,side_b_id,side_b_2nd,incompatibility,territory_name,...,ep_end,ep_end_date,ep_end_prec,gwno_a,gwno_a_2nd,gwno_b,gwno_b_2nd,gwno_loc,region,version
119,214,"France, Thailand",Government of France,33,NaN,Government of Thailand,147,NaN,1,Northern Cambodia,...,1,1946-11-17,1.0,220,NaN,800,NaN,"220, 800","1, 3",18.1
120,215,"Albania, United Kingdom",Government of Albania,45,NaN,Government of United Kingdom,28,NaN,1,Korfu Channel,...,1,1946-12-31,5.0,339,NaN,200,NaN,"200, 339",1,18.1
131,218,"India, Pakistan",Government of India,141,NaN,Government of Pakistan,142,NaN,1,Kashmir,...,1,1948-12-31,1.0,750,NaN,770,NaN,"750, 770",3,18.1
132,218,"India, Pakistan",Government of India,141,NaN,Government of Pakistan,142,NaN,1,Kashmir,...,0,NaN,NaN,750,NaN,770,NaN,"750, 770",3,18.1
133,218,"India, Pakistan",Government of India,141,NaN,Government of Pakistan,142,NaN,1,Kashmir,...,1,1965-12-15,1.0,750,NaN,770,NaN,"750, 770",3,18.1

In [5]:
print(country_conf['gwno_a']) # examine the structure when there are multiple gwno's

119                         220
120                         339
131                         750
132                         750
133                         750
134                         750
135                         750
136                         750
137                         750
138                         750
139                         750
140                         750
141                         750
142                         750
143                         750
144                         750
145                         750
146                         750
147                         750
148                         750
149                         750
150                         750
151                         750
152                         750
314                         751
348     651, 645, 663, 660, 652
349     651, 645, 663, 660, 652
424                         710
425                         710
426                         710
                 ...
1567                        710
1568                        710
1569                        710
1570                        710
1677                        160
1700                        483
1701                         55
1776                        439
1777                        812
1778                        812
1779                        812
1784                        483
1845                         95
1853                        645
1854                        645
2028                        130
2044                        471
2053                        531
2054                        531
2055                        531
2056                        531
2130                900, 200, 2
2175                        510
2188                        700
2199                        522
2224                        651
2225                        651
2226                        651
2227                        651
2247                        626
Name: gwno_a, Length: 125, dtype: object

In [6]:
nodes_primary = set()
nodes_all = set()

for i, row in country_conf.iterrows():
    for num in (str(row['gwno_a']).split(',') + str(row['gwno_b']).split(',')):
        if num != 'nan':
            nodes_all.add(int(num))
            nodes_primary.add(int(num))
    for num in (str(row['gwno_a_2nd']).split(',') + str(row['gwno_b_2nd']).split(',')):
        if num != 'nan':
            nodes_all.add(int(num))

In [7]:
def nums_to_list(nums):
    return [int(num) for num in (str(nums).split(',')) if num != 'nan']


def segmented_collocation_graph(primary, secondary, graph_all={}, graph_primary={}):
    for i in primary:
        if i not in graph_primary:
            graph_primary[i] = {}
            
        for j in primary:
            if i != j:
                if j in graph_primary[i]:
                    graph_primary[i][j] += 1
                else:
                    graph_primary[i][j] = 1
                    
    for i in primary + secondary:
        if i not in graph_all:
            graph_all[i] = {}
            
            for j in primary + secondary:
                if i != j:
                    if j in graph_all[i]:
                        graph_all[i][j] += 1
                    else:
                        graph_all[i][j] = 1
                        
                        
    return graph_all, graph_primary

In [8]:
conflicts_all = {}
conflicts_primary = {}

for i, row in country_conf.iterrows():
    side_a_primary = nums_to_list(row['gwno_a'])
    side_a_secondary = nums_to_list(row['gwno_a_2nd'])
    
    side_b_primary = nums_to_list(row['gwno_b'])
    side_b_secondary = nums_to_list(row['gwno_b_2nd'])
    
    alliances_all, alliances_primary = segmented_collocation_graph(side_a_primary, side_a_secondary)
    alliances_all, alliances_primary = segmented_collocation_graph(side_b_primary, side_b_secondary,
                                                                   alliances_all, alliances_primary)
    
    for num_a in side_a_primary:
        if num_a not in conflicts_primary:
            conflicts_primary[num_a] = {}
        for num_b in side_b_primary:
            if num_b in conflicts_primary[num_a]:
                conflicts_primary[num_a][num_b] += 1
            else:
                conflicts_primary[num_a][num_b] = 1
                
    for num_a in side_a_primary + side_a_secondary:
        if num_a not in conflicts_all:
            conflicts_all[num_a] = {}
        for num_b in side_b_primary + side_b_secondary:
            if num_b in conflicts_all[num_a]:
                conflicts_all[num_a][num_b] += 1
            else:
                conflicts_all[num_a][num_b] = 1

In [9]:
def region_converter(num):
    """
    converts gwno into region variable
    """
    if 200 <= num <= 395:
        region = "Europe"
    elif 630 <= num <= 698 and not num == 651:
        region = "Middle East"
    elif 700 <= num <= 990:
        region = "Asia"
    elif 400 <= num <= 626 and num == 651:
        region = "Africa"
    elif 2 <= num <= 165:
        region = "Americas"
    else:
        region = "Other"
    
    return region

In [10]:
nodes_all_json = [{'id': i, 'region': region_converter(i)} for i in nodes_all]
nodes_primary_json = [{'id': i, 'region': region_converter(i)} for i in nodes_primary]
primary_conflicts_json = [{'source': a, 'target': b, 'value': w , 'type': 'enemy'} for a, v in conflicts_primary.items() for b, w in v.items() ]

primary_alliances_json = [{'source': a, 'target': b, 'value': w, 'type': 'ally'} for a, v in alliances_primary.items() for b, w in v.items()]

all_conflicts_json = [{'source': a, 'target': b, 'value': w , 'type': 'enemy'} for a, v in conflicts_all.items() for b, w in v.items() ]

all_alliances_json = [{'source': a, 'target': b, 'value': w, 'type': 'ally'} for a, v in alliances_all.items() for b, w in v.items()]

In [11]:
ccodes = pd.read_csv('data/raw_data/COW_country_codes.csv')
ccodes.head()

  StateAbb  CCode                  StateNme
0      USA      2  United States of America
1      CAN     20                    Canada
2      BHM     31                   Bahamas
3      CUB     40                      Cuba
4      CUB     40                      Cuba

In [12]:
ccode_converter = {}

for i, row in ccodes.iterrows():
    if row['CCode'] not in ccode_converter:
        ccode_converter[row['CCode']]={'abb': row['StateAbb'], 'name': row['StateNme']}
    
print(ccode_converter)

{2: {'abb': 'USA', 'name': 'United States of America'}, 20: {'abb': 'CAN', 'name': 'Canada'}, 31: {'abb': 'BHM', 'name': 'Bahamas'}, 40: {'abb': 'CUB', 'name': 'Cuba'}, 41: {'abb': 'HAI', 'name': 'Haiti'}, 42: {'abb': 'DOM', 'name': 'Dominican Republic'}, 51: {'abb': 'JAM', 'name': 'Jamaica'}, 52: {'abb': 'TRI', 'name': 'Trinidad and Tobago'}, 53: {'abb': 'BAR', 'name': 'Barbados'}, 54: {'abb': 'DMA', 'name': 'Dominica'}, 55: {'abb': 'GRN', 'name': 'Grenada'}, 56: {'abb': 'SLU', 'name': 'St. Lucia'}, 57: {'abb': 'SVG', 'name': 'St. Vincent and the Grenadines'}, 58: {'abb': 'AAB', 'name': 'Antigua & Barbuda'}, 60: {'abb': 'SKN', 'name': 'St. Kitts and Nevis'}, 70: {'abb': 'MEX', 'name': 'Mexico'}, 80: {'abb': 'BLZ', 'name': 'Belize'}, 90: {'abb': 'GUA', 'name': 'Guatemala'}, 91: {'abb': 'HON', 'name': 'Honduras'}, 92: {'abb': 'SAL', 'name': 'El Salvador'}, 93: {'abb': 'NIC', 'name': 'Nicaragua'}, 94: {'abb': 'COS', 'name': 'Costa Rica'}, 95: {'abb': 'PAN', 'name': 'Panama'}, 100: {'abb': 'COL', 'name': 'Colombia'}, 101: {'abb': 'VEN', 'name': 'Venezuela'}, 110: {'abb': 'GUY', 'name': 'Guyana'}, 115: {'abb': 'SUR', 'name': 'Suriname'}, 130: {'abb': 'ECU', 'name': 'Ecuador'}, 135: {'abb': 'PER', 'name': 'Peru'}, 140: {'abb': 'BRA', 'name': 'Brazil'}, 145: {'abb': 'BOL', 'name': 'Bolivia'}, 150: {'abb': 'PAR', 'name': 'Paraguay'}, 155: {'abb': 'CHL', 'name': 'Chile'}, 160: {'abb': 'ARG', 'name': 'Argentina'}, 165: {'abb': 'URU', 'name': 'Uruguay'}, 200: {'abb': 'UKG', 'name': 'United Kingdom'}, 205: {'abb': 'IRE', 'name': 'Ireland'}, 210: {'abb': 'NTH', 'name': 'Netherlands'}, 211: {'abb': 'BEL', 'name': 'Belgium'}, 212: {'abb': 'LUX', 'name': 'Luxembourg'}, 220: {'abb': 'FRN', 'name': 'France'}, 221: {'abb': 'MNC', 'name': 'Monaco'}, 223: {'abb': 'LIE', 'name': 'Liechtenstein'}, 225: {'abb': 'SWZ', 'name': 'Switzerland'}, 230: {'abb': 'SPN', 'name': 'Spain'}, 232: {'abb': 'AND', 'name': 'Andorra'}, 235: {'abb': 'POR', 'name': 'Portugal'}, 240: {'abb': 'HAN', 'name': 'Hanover'}, 245: {'abb': 'BAV', 'name': 'Bavaria'}, 255: {'abb': 'GMY', 'name': 'Germany'}, 260: {'abb': 'GFR', 'name': 'German Federal Republic'}, 265: {'abb': 'GDR', 'name': 'German Democratic Republic'}, 267: {'abb': 'BAD', 'name': 'Baden'}, 269: {'abb': 'SAX', 'name': 'Saxony'}, 271: {'abb': 'WRT', 'name': 'Wuerttemburg'}, 273: {'abb': 'HSE', 'name': 'Hesse Electoral'}, 275: {'abb': 'HSG', 'name': 'Hesse Grand Ducal'}, 280: {'abb': 'MEC', 'name': 'Mecklenburg Schwerin'}, 290: {'abb': 'POL', 'name': 'Poland'}, 300: {'abb': 'AUH', 'name': 'Austria-Hungary'}, 305: {'abb': 'AUS', 'name': 'Austria'}, 310: {'abb': 'HUN', 'name': 'Hungary'}, 315: {'abb': 'CZE', 'name': 'Czechoslovakia'}, 316: {'abb': 'CZR', 'name': 'Czech Republic'}, 317: {'abb': 'SLO', 'name': 'Slovakia'}, 325: {'abb': 'ITA', 'name': 'Italy'}, 327: {'abb': 'PAP', 'name': 'Papal States'}, 329: {'abb': 'SIC', 'name': 'Two Sicilies'}, 331: {'abb': 'SNM', 'name': 'San Marino'}, 332: {'abb': 'MOD', 'name': 'Modena'}, 335: {'abb': 'PMA', 'name': 'Parma'}, 337: {'abb': 'TUS', 'name': 'Tuscany'}, 338: {'abb': 'MLT', 'name': 'Malta'}, 339: {'abb': 'ALB', 'name': 'Albania'}, 341: {'abb': 'MNG', 'name': 'Montenegro'}, 343: {'abb': 'MAC', 'name': 'Macedonia'}, 344: {'abb': 'CRO', 'name': 'Croatia'}, 345: {'abb': 'YUG', 'name': 'Yugoslavia'}, 346: {'abb': 'BOS', 'name': 'Bosnia and Herzegovina'}, 347: {'abb': 'KOS', 'name': 'Kosovo'}, 349: {'abb': 'SLV', 'name': 'Slovenia'}, 350: {'abb': 'GRC', 'name': 'Greece'}, 352: {'abb': 'CYP', 'name': 'Cyprus'}, 355: {'abb': 'BUL', 'name': 'Bulgaria'}, 359: {'abb': 'MLD', 'name': 'Moldova'}, 360: {'abb': 'ROM', 'name': 'Romania'}, 365: {'abb': 'RUS', 'name': 'Russia'}, 366: {'abb': 'EST', 'name': 'Estonia'}, 367: {'abb': 'LAT', 'name': 'Latvia'}, 368: {'abb': 'LIT', 'name': 'Lithuania'}, 369: {'abb': 'UKR', 'name': 'Ukraine'}, 370: {'abb': 'BLR', 'name': 'Belarus'}, 371: {'abb': 'ARM', 'name': 'Armenia'}, 372: {'abb': 'GRG', 'name': 'Georgia'}, 373: {'abb': 'AZE', 'name': 'Azerbaijan'}, 375: {'abb': 'FIN', 'name': 'Finland'}, 380: {'abb': 'SWD', 'name': 'Sweden'}, 385: {'abb': 'NOR', 'name': 'Norway'}, 390: {'abb': 'DEN', 'name': 'Denmark'}, 395: {'abb': 'ICE', 'name': 'Iceland'}, 402: {'abb': 'CAP', 'name': 'Cape Verde'}, 403: {'abb': 'STP', 'name': 'Sao Tome and Principe'}, 404: {'abb': 'GNB', 'name': 'Guinea-Bissau'}, 411: {'abb': 'EQG', 'name': 'Equatorial Guinea'}, 420: {'abb': 'GAM', 'name': 'Gambia'}, 432: {'abb': 'MLI', 'name': 'Mali'}, 433: {'abb': 'SEN', 'name': 'Senegal'}, 434: {'abb': 'BEN', 'name': 'Benin'}, 435: {'abb': 'MAA', 'name': 'Mauritania'}, 436: {'abb': 'NIR', 'name': 'Niger'}, 437: {'abb': 'CDI', 'name': 'Ivory Coast'}, 438: {'abb': 'GUI', 'name': 'Guinea'}, 439: {'abb': 'BFO', 'name': 'Burkina Faso'}, 450: {'abb': 'LBR', 'name': 'Liberia'}, 451: {'abb': 'SIE', 'name': 'Sierra Leone'}, 452: {'abb': 'GHA', 'name': 'Ghana'}, 461: {'abb': 'TOG', 'name': 'Togo'}, 471: {'abb': 'CAO', 'name': 'Cameroon'}, 475: {'abb': 'NIG', 'name': 'Nigeria'}, 481: {'abb': 'GAB', 'name': 'Gabon'}, 482: {'abb': 'CEN', 'name': 'Central African Republic'}, 483: {'abb': 'CHA', 'name': 'Chad'}, 484: {'abb': 'CON', 'name': 'Congo'}, 490: {'abb': 'DRC', 'name': 'Democratic Republic of the Congo'}, 500: {'abb': 'UGA', 'name': 'Uganda'}, 501: {'abb': 'KEN', 'name': 'Kenya'}, 510: {'abb': 'TAZ', 'name': 'Tanzania'}, 511: {'abb': 'ZAN', 'name': 'Zanzibar'}, 516: {'abb': 'BUI', 'name': 'Burundi'}, 517: {'abb': 'RWA', 'name': 'Rwanda'}, 520: {'abb': 'SOM', 'name': 'Somalia'}, 522: {'abb': 'DJI', 'name': 'Djibouti'}, 530: {'abb': 'ETH', 'name': 'Ethiopia'}, 531: {'abb': 'ERI', 'name': 'Eritrea'}, 540: {'abb': 'ANG', 'name': 'Angola'}, 541: {'abb': 'MZM', 'name': 'Mozambique'}, 551: {'abb': 'ZAM', 'name': 'Zambia'}, 552: {'abb': 'ZIM', 'name': 'Zimbabwe'}, 553: {'abb': 'MAW', 'name': 'Malawi'}, 560: {'abb': 'SAF', 'name': 'South Africa'}, 565: {'abb': 'NAM', 'name': 'Namibia'}, 570: {'abb': 'LES', 'name': 'Lesotho'}, 571: {'abb': 'BOT', 'name': 'Botswana'}, 572: {'abb': 'SWA', 'name': 'Swaziland'}, 580: {'abb': 'MAG', 'name': 'Madagascar'}, 581: {'abb': 'COM', 'name': 'Comoros'}, 590: {'abb': 'MAS', 'name': 'Mauritius'}, 591: {'abb': 'SEY', 'name': 'Seychelles'}, 600: {'abb': 'MOR', 'name': 'Morocco'}, 615: {'abb': 'ALG', 'name': 'Algeria'}, 616: {'abb': 'TUN', 'name': 'Tunisia'}, 620: {'abb': 'LIB', 'name': 'Libya'}, 625: {'abb': 'SUD', 'name': 'Sudan'}, 626: {'abb': 'SSD', 'name': 'South Sudan'}, 630: {'abb': 'IRN', 'name': 'Iran'}, 640: {'abb': 'TUR', 'name': 'Turkey'}, 645: {'abb': 'IRQ', 'name': 'Iraq'}, 651: {'abb': 'EGY', 'name': 'Egypt'}, 652: {'abb': 'SYR', 'name': 'Syria'}, 660: {'abb': 'LEB', 'name': 'Lebanon'}, 663: {'abb': 'JOR', 'name': 'Jordan'}, 666: {'abb': 'ISR', 'name': 'Israel'}, 670: {'abb': 'SAU', 'name': 'Saudi Arabia'}, 678: {'abb': 'YAR', 'name': 'Yemen Arab Republic'}, 679: {'abb': 'YEM', 'name': 'Yemen'}, 680: {'abb': 'YPR', 'name': "Yemen People's Republic"}, 690: {'abb': 'KUW', 'name': 'Kuwait'}, 692: {'abb': 'BAH', 'name': 'Bahrain'}, 694: {'abb': 'QAT', 'name': 'Qatar'}, 696: {'abb': 'UAE', 'name': 'United Arab Emirates'}, 698: {'abb': 'OMA', 'name': 'Oman'}, 700: {'abb': 'AFG', 'name': 'Afghanistan'}, 701: {'abb': 'TKM', 'name': 'Turkmenistan'}, 702: {'abb': 'TAJ', 'name': 'Tajikistan'}, 703: {'abb': 'KYR', 'name': 'Kyrgyzstan'}, 704: {'abb': 'UZB', 'name': 'Uzbekistan'}, 705: {'abb': 'KZK', 'name': 'Kazakhstan'}, 710: {'abb': 'CHN', 'name': 'China'}, 712: {'abb': 'MON', 'name': 'Mongolia'}, 713: {'abb': 'TAW', 'name': 'Taiwan'}, 730: {'abb': 'KOR', 'name': 'Korea'}, 731: {'abb': 'PRK', 'name': 'North Korea'}, 732: {'abb': 'ROK', 'name': 'South Korea'}, 740: {'abb': 'JPN', 'name': 'Japan'}, 750: {'abb': 'IND', 'name': 'India'}, 760: {'abb': 'BHU', 'name': 'Bhutan'}, 770: {'abb': 'PAK', 'name': 'Pakistan'}, 771: {'abb': 'BNG', 'name': 'Bangladesh'}, 775: {'abb': 'MYA', 'name': 'Myanmar'}, 780: {'abb': 'SRI', 'name': 'Sri Lanka'}, 781: {'abb': 'MAD', 'name': 'Maldives'}, 790: {'abb': 'NEP', 'name': 'Nepal'}, 800: {'abb': 'THI', 'name': 'Thailand'}, 811: {'abb': 'CAM', 'name': 'Cambodia'}, 812: {'abb': 'LAO', 'name': 'Laos'}, 816: {'abb': 'DRV', 'name': 'Vietnam'}, 817: {'abb': 'RVN', 'name': 'Republic of Vietnam'}, 820: {'abb': 'MAL', 'name': 'Malaysia'}, 830: {'abb': 'SIN', 'name': 'Singapore'}, 835: {'abb': 'BRU', 'name': 'Brunei'}, 840: {'abb': 'PHI', 'name': 'Philippines'}, 850: {'abb': 'INS', 'name': 'Indonesia'}, 860: {'abb': 'ETM', 'name': 'East Timor'}, 900: {'abb': 'AUL', 'name': 'Australia'}, 910: {'abb': 'PNG', 'name': 'Papua New Guinea'}, 920: {'abb': 'NEW', 'name': 'New Zealand'}, 935: {'abb': 'VAN', 'name': 'Vanuatu'}, 940: {'abb': 'SOL', 'name': 'Solomon Islands'}, 946: {'abb': 'KIR', 'name': 'Kiribati'}, 947: {'abb': 'TUV', 'name': 'Tuvalu'}, 950: {'abb': 'FIJ', 'name': 'Fiji'}, 955: {'abb': 'TON', 'name': 'Tonga'}, 970: {'abb': 'NAU', 'name': 'Nauru'}, 983: {'abb': 'MSI', 'name': 'Marshall Islands'}, 986: {'abb': 'PAL', 'name': 'Palau'}, 987: {'abb': 'FSM', 'name': 'Federated States of Micronesia'}, 990: {'abb': 'WSM', 'name': 'Samoa'}}

In [13]:
folder = 'data/formatted_data/'
with open(folder + 'nodes_all.json', 'w') as f1,\
    open(folder + 'nodes_primary.json', 'w') as f2, \
    open(folder + 'conflicts_all.json', 'w') as f3,\
    open(folder + 'alliances_all.json', 'w') as f4,\
    open(folder + 'ccode_converter.json', 'w') as f5, \
    open(folder + 'conflicts_primary.json', 'w') as f6, \
    open(folder + 'alliances_primary.json', 'w') as f7:
        f1.write(json.dumps(nodes_all_json))
        f2.write(json.dumps(nodes_primary_json))
        f3.write(json.dumps(all_conflicts_json))
        f4.write(json.dumps(all_alliances_json))
        f5.write(json.dumps(ccode_converter))
        f6.write(json.dumps(primary_conflicts_json))
        f7.write(json.dumps(primary_alliances_json))