# Data Formatting Script

Importing the necessary packages

In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
conf = pd.read_csv("data/raw_data/ucdp-prio-acd-181.csv")  # reading in conflict dyads data
conf.head()  # examining its structure

,conflict_id,location,side_a,side_a_id,side_a_2nd,side_b,side_b_id,side_b_2nd,incompatibility,territory_name,...,ep_end,ep_end_date,ep_end_prec,gwno_a,gwno_a_2nd,gwno_b,gwno_b.1,gwno_loc,region,version
0,200,Bolivia,Government of Bolivia,23,NaN,Popular Revolutionary Movement,719,NaN,2,NaN,...,1,1946-07-21,1.0,145,NaN,NaN,NaN,145,5,18.1
1,200,Bolivia,Government of Bolivia,23,NaN,MNR,720,NaN,2,NaN,...,1,1952-04-12,1.0,145,NaN,NaN,NaN,145,5,18.1
2,200,Bolivia,Government of Bolivia,23,NaN,ELN,721,NaN,2,NaN,...,1,1967-10-16,1.0,145,NaN,NaN,NaN,145,5,18.1
3,201,Cambodia (Kampuchea),Government of France,33,NaN,Khmer Issarak,160,NaN,1,Cambodia,...,0,NaN,NaN,220,NaN,NaN,NaN,811,3,18.1
4,201,Cambodia (Kampuchea),Government of France,33,NaN,Khmer Issarak,160,NaN,1,Cambodia,...,0,NaN,NaN,220,NaN,NaN,NaN,811,3,18.1

In [3]:
# Function to convert numeric values and return 0 if they are not numeric, 
# this will allow entries without countries as the co-belligerent to be filtered out
def integerize(x):
    try:
        return int(x)
    except ValueError:
        return 0
    
# Filter the data to just that have countries on both sides
country_conf = conf[conf.gwno_b.apply(integerize) > 0]
print(country_conf.shape) # shape of the data frame
print(country_conf.columns) # names of the columns
country_conf.head()

(125, 28)
Index(['conflict_id', 'location', 'side_a', 'side_a_id', 'side_a_2nd',
       'side_b', 'side_b_id', 'side_b_2nd', 'incompatibility',
       'territory_name', 'year', 'intensity_level', 'cumulative_intensity',
       'type_of_conflict', 'start_date', 'start_prec', 'start_date2',
       'start_prec2', 'ep_end', 'ep_end_date', 'ep_end_prec', 'gwno_a',
       'gwno_a_2nd', 'gwno_b', 'gwno_b.1', 'gwno_loc', 'region', 'version'],
      dtype='object')

,conflict_id,location,side_a,side_a_id,side_a_2nd,side_b,side_b_id,side_b_2nd,incompatibility,territory_name,...,ep_end,ep_end_date,ep_end_prec,gwno_a,gwno_a_2nd,gwno_b,gwno_b.1,gwno_loc,region,version
119,214,"France, Thailand",Government of France,33,NaN,Government of Thailand,147,NaN,1,Northern Cambodia,...,1,1946-11-17,1.0,220,NaN,800,NaN,"220, 800","1, 3",18.1
120,215,"Albania, United Kingdom",Government of Albania,45,NaN,Government of United Kingdom,28,NaN,1,Korfu Channel,...,1,1946-12-31,5.0,339,NaN,200,NaN,"200, 339",1,18.1
131,218,"India, Pakistan",Government of India,141,NaN,Government of Pakistan,142,NaN,1,Kashmir,...,1,1948-12-31,1.0,750,NaN,770,NaN,"750, 770",3,18.1
132,218,"India, Pakistan",Government of India,141,NaN,Government of Pakistan,142,NaN,1,Kashmir,...,0,NaN,NaN,750,NaN,770,NaN,"750, 770",3,18.1
133,218,"India, Pakistan",Government of India,141,NaN,Government of Pakistan,142,NaN,1,Kashmir,...,1,1965-12-15,1.0,750,NaN,770,NaN,"750, 770",3,18.1

In [4]:
print(country_conf['gwno_a']) # examine the structure when there are multiple gwno's

119                         220
120                         339
131                         750
132                         750
133                         750
134                         750
135                         750
136                         750
137                         750
138                         750
139                         750
140                         750
141                         750
142                         750
143                         750
144                         750
145                         750
146                         750
147                         750
148                         750
149                         750
150                         750
151                         750
152                         750
314                         751
348     651, 645, 663, 660, 652
349     651, 645, 663, 660, 652
424                         710
425                         710
426                         710
                 ...
1567                        710
1568                        710
1569                        710
1570                        710
1677                        160
1700                        483
1701                         55
1776                        439
1777                        812
1778                        812
1779                        812
1784                        483
1845                         95
1853                        645
1854                        645
2028                        130
2044                        471
2053                        531
2054                        531
2055                        531
2056                        531
2130                900, 200, 2
2175                        510
2188                        700
2199                        522
2224                        651
2225                        651
2226                        651
2227                        651
2247                        626
Name: gwno_a, Length: 125, dtype: object

In [5]:
nodes = set()  # set to store the unique countries in the data
country_name_gwno_mapping = {} # dictionary to store the combinations of gwno's and country names


for i, row in country_conf.iterrows(): # for every row in the data
    for num, name in zip(row['gwno_a'].split(','), row['side_a'].split(',')): # grab the gwno and country names
        if num not in country_name_gwno_mapping:
            country_name_gwno_mapping[num]= name.strip()
        nodes.add(num.strip())
        
    for num, name in zip(row['gwno_b'].split(','), row['side_b'].split(',')): # grab the gwno and country names
        if num not in country_name_gwno_mapping:
            country_name_gwno_mapping[num]= name.strip()
        nodes.add(num.strip())

In [6]:
print(nodes)
# print(country_name_gwno_mapping)
for k, v in country_name_gwno_mapping.items():
    print(k, v)

{'663', '432', '666', '710', '770', '651', '820', '812', '751', '483', '130', '900', '616', '850', '700', '680', '475', '471', '816', '800', '160', '660', '713', '55', '210', '439', '91', '365', '640', '500', '520', '310', '200', '220', '731', '135', '626', '93', '510', '615', '92', '339', '811', '690', '600', '531', '750', '775', '2', '95', '522', '732', '817', '530', '352', '620', '678', '652', '630', '625', '645'}
220 Government of France
800 Government of Thailand
339 Government of Albania
200 Government of United Kingdom
750 Government of India
770 Government of Pakistan
751 Government of Hyderabad
651 Government of Egypt
 645 Government of Iraq
 663 Government of Jordan
 660 Government of Lebanon
 652 Government of Syria
666 Government of Israel
710 Government of China
713 Government of Taiwan
731 Government of North Korea
732 Government of South Korea
310 Government of Hungary
365 Government of Russia (Soviet Union)
91 Government of Honduras
93 Government of Nicaragua
530 Government of Ethiopia
520 Government of Somalia
616 Government of Tunisia
850 Government of Indonesia
210 Government of Netherlands
615 Government of Algeria
600 Government of Morocco
820 Government of Malaysia
817 Government of South Vietnam
816 Government of Vietnam (North Vietnam)
811 Government of Cambodia (Kampuchea)
663 Government of Jordan
652 Government of Syria
775 Government of Myanmar (Burma)
92 Government of El Salvador
680 Government of South Yemen
678 Government of Yemen (North Yemen)
352 Government of Cyprus
640 Government of Turkey
630 Government of Iran
645 Government of Iraq
160 Government of Argentina
483 Government of Chad
475 Government of Nigeria
55 Government of Grenada
2 Government of United States of America
439 Government of Burkina Faso
432 Government of Mali
812 Government of Laos
620 Government of Libya
95 Government of Panama
690 Government of Kuwait
130 Government of Ecuador
135 Government of Peru
471 Government of Cameroon
531 Government of Eritrea
900 Government of Australia
 200 Government of United Kingdom
 2 Government of United States of America
510 Government of Tanzania
500 Government of Uganda
700 Government of Afghanistan
522 Government of Djibouti
626 Government of South Sudan
625 Government of Sudan

In [7]:
conflicts = {} # dictionary to hold the combinations of countries
alliances = {}

for i, row in country_conf.iterrows():
    # List of all of the countries on side a
    side_a = [num.strip() for num in row['gwno_a'].split(',')]
    
    # List of all the countries on side b
    side_b = [num.strip() for num in row['gwno_b'].split(',')]
    
    for i in side_a:
        if i not in alliances:
            alliances[i] = {}
        for j in side_a:
            if i != j:
                if j in alliances[i]:
                    alliances[i][j] += 1
                else:
                    alliances[i][j] = 1
                    
    for i in side_b:
        if i not in alliances:
            alliances[i] = {}
        for j in side_a:
            if i != j:
                if j in alliances[i]:
                    alliances[i][j] += 1
                else:
                    alliances[i][j] = 1
    
    for num_a in side_a:
        if num_a not in conflicts:
            conflicts[num_a] = {}
        for num_b in side_b:
            if num_b in conflicts[num_a]:
                conflicts[num_a][num_b] += 1
#                 links[num_a][num_b][1].append(row['start_date'])
            else:
                conflicts[num_a][num_b] = 1
#                 links[num_a][num_b] = [1, [row['start_date']]]
                
    for num_b in side_b:
        if num_b not in conflicts:
            conflicts[num_b] = {}
        for num_a in side_a:
            if num_a in conflicts[num_b]:
                conflicts[num_b][num_a] += 1
            else:
                conflicts[num_b][num_a] = 1

In [8]:
print(conflicts)
print(alliances)

{'220': {'800': 1, '616': 1}, '800': {'220': 1, '811': 3, '812': 3}, '339': {'200': 1}, '200': {'339': 1, '651': 2, '160': 1, '645': 1}, '750': {'770': 22, '751': 1, '710': 2}, '770': {'750': 22}, '751': {'750': 1}, '651': {'666': 6, '200': 2}, '645': {'666': 2, '630': 10, '690': 2, '900': 1, '200': 1, '2': 1}, '663': {'666': 3}, '660': {'666': 2}, '652': {'666': 4}, '666': {'651': 6, '645': 2, '663': 3, '660': 2, '652': 4}, '710': {'713': 4, '750': 2, '775': 1, '365': 1, '816': 10}, '713': {'710': 4}, '731': {'732': 5}, '732': {'731': 5}, '310': {'365': 1}, '365': {'310': 1, '710': 1, '700': 1}, '91': {'93': 1, '92': 1}, '93': {'91': 1}, '530': {'520': 4, '531': 4}, '520': {'530': 4}, '616': {'220': 1}, '850': {'210': 1, '820': 4}, '210': {'850': 1}, '615': {'600': 1}, '600': {'615': 1}, '820': {'850': 4}, '817': {'816': 11}, '816': {'817': 11, '811': 3, '710': 10}, '811': {'800': 3, '816': 3}, '775': {'710': 1}, '92': {'91': 1}, '680': {'678': 2}, '678': {'680': 2}, '352': {'640': 1}, '640': {'352': 1}, '630': {'645': 10}, '160': {'200': 1}, '483': {'475': 1, '620': 1}, '475': {'483': 1, '471': 1}, '55': {'2': 1}, '2': {'55': 1, '95': 1, '645': 1}, '439': {'432': 1}, '432': {'439': 1}, '812': {'800': 3}, '620': {'483': 1}, '95': {'2': 1}, '690': {'645': 2}, '130': {'135': 1}, '135': {'130': 1}, '471': {'475': 1}, '531': {'530': 4, '522': 1}, '900': {'645': 1}, '510': {'500': 1}, '500': {'510': 1}, '700': {'365': 1}, '522': {'531': 1}, '626': {'625': 1}, '625': {'626': 1}}
{'220': {}, '800': {'220': 1, '811': 3, '812': 3}, '339': {}, '200': {'339': 1, '651': 2, '160': 1, '900': 1, '2': 1}, '750': {'751': 1, '710': 2}, '770': {'750': 22}, '751': {}, '651': {'645': 2, '663': 2, '660': 2, '652': 2}, '645': {'651': 2, '663': 2, '660': 2, '652': 2, '630': 10, '900': 1, '200': 1, '2': 1}, '663': {'651': 2, '645': 2, '660': 2, '652': 2, '666': 1}, '660': {'651': 2, '645': 2, '663': 2, '652': 2}, '652': {'651': 2, '645': 2, '663': 2, '660': 2, '666': 2}, '666': {'651': 6, '645': 2, '663': 2, '660': 2, '652': 2}, '710': {}, '713': {'710': 4}, '731': {}, '732': {'731': 5}, '310': {}, '365': {'310': 1, '710': 1, '700': 1}, '91': {'92': 1}, '93': {'91': 1}, '530': {'531': 4}, '520': {'530': 4}, '616': {'220': 1}, '850': {}, '210': {'850': 1}, '615': {}, '600': {'615': 1}, '820': {'850': 4}, '817': {}, '816': {'817': 11, '811': 3, '710': 10}, '811': {}, '775': {'710': 1}, '92': {}, '680': {}, '678': {'680': 2}, '352': {}, '640': {'352': 1}, '630': {}, '160': {}, '483': {}, '475': {'483': 1, '471': 1}, '55': {}, '2': {'55': 1, '95': 1, '900': 1, '200': 1}, '439': {}, '432': {'439': 1}, '812': {}, '620': {'483': 1}, '95': {}, '690': {'645': 2}, '130': {}, '135': {'130': 1}, '471': {}, '531': {'522': 1}, '900': {'200': 1, '2': 1}, '510': {}, '500': {'510': 1}, '700': {}, '522': {}, '626': {}, '625': {'626': 1}}

In [9]:
nodes_json = [{'id': i}for i in nodes]
print(nodes_json)
conflicts_json = [{'source': a, 'target': b, 'value': w , 'type': 'enemy'} for a, v in conflicts.items() for b, w in v.items() ]
print(conflicts_json)
alliances_json = [{'source': a, 'target': b, 'value': w, 'type': 'ally'} for a, v in alliances.items() for b, w in v.items()]
print(alliances_json)

combined_links_json = conflicts_json + alliances_json

[{'id': '663'}, {'id': '432'}, {'id': '666'}, {'id': '710'}, {'id': '770'}, {'id': '651'}, {'id': '820'}, {'id': '812'}, {'id': '751'}, {'id': '483'}, {'id': '130'}, {'id': '900'}, {'id': '616'}, {'id': '850'}, {'id': '700'}, {'id': '680'}, {'id': '475'}, {'id': '471'}, {'id': '816'}, {'id': '800'}, {'id': '160'}, {'id': '660'}, {'id': '713'}, {'id': '55'}, {'id': '210'}, {'id': '439'}, {'id': '91'}, {'id': '365'}, {'id': '640'}, {'id': '500'}, {'id': '520'}, {'id': '310'}, {'id': '200'}, {'id': '220'}, {'id': '731'}, {'id': '135'}, {'id': '626'}, {'id': '93'}, {'id': '510'}, {'id': '615'}, {'id': '92'}, {'id': '339'}, {'id': '811'}, {'id': '690'}, {'id': '600'}, {'id': '531'}, {'id': '750'}, {'id': '775'}, {'id': '2'}, {'id': '95'}, {'id': '522'}, {'id': '732'}, {'id': '817'}, {'id': '530'}, {'id': '352'}, {'id': '620'}, {'id': '678'}, {'id': '652'}, {'id': '630'}, {'id': '625'}, {'id': '645'}]
[{'source': '220', 'target': '800', 'value': 1, 'type': 'enemy'}, {'source': '220', 'target': '616', 'value': 1, 'type': 'enemy'}, {'source': '800', 'target': '220', 'value': 1, 'type': 'enemy'}, {'source': '800', 'target': '811', 'value': 3, 'type': 'enemy'}, {'source': '800', 'target': '812', 'value': 3, 'type': 'enemy'}, {'source': '339', 'target': '200', 'value': 1, 'type': 'enemy'}, {'source': '200', 'target': '339', 'value': 1, 'type': 'enemy'}, {'source': '200', 'target': '651', 'value': 2, 'type': 'enemy'}, {'source': '200', 'target': '160', 'value': 1, 'type': 'enemy'}, {'source': '200', 'target': '645', 'value': 1, 'type': 'enemy'}, {'source': '750', 'target': '770', 'value': 22, 'type': 'enemy'}, {'source': '750', 'target': '751', 'value': 1, 'type': 'enemy'}, {'source': '750', 'target': '710', 'value': 2, 'type': 'enemy'}, {'source': '770', 'target': '750', 'value': 22, 'type': 'enemy'}, {'source': '751', 'target': '750', 'value': 1, 'type': 'enemy'}, {'source': '651', 'target': '666', 'value': 6, 'type': 'enemy'}, {'source': '651', 'target': '200', 'value': 2, 'type': 'enemy'}, {'source': '645', 'target': '666', 'value': 2, 'type': 'enemy'}, {'source': '645', 'target': '630', 'value': 10, 'type': 'enemy'}, {'source': '645', 'target': '690', 'value': 2, 'type': 'enemy'}, {'source': '645', 'target': '900', 'value': 1, 'type': 'enemy'}, {'source': '645', 'target': '200', 'value': 1, 'type': 'enemy'}, {'source': '645', 'target': '2', 'value': 1, 'type': 'enemy'}, {'source': '663', 'target': '666', 'value': 3, 'type': 'enemy'}, {'source': '660', 'target': '666', 'value': 2, 'type': 'enemy'}, {'source': '652', 'target': '666', 'value': 4, 'type': 'enemy'}, {'source': '666', 'target': '651', 'value': 6, 'type': 'enemy'}, {'source': '666', 'target': '645', 'value': 2, 'type': 'enemy'}, {'source': '666', 'target': '663', 'value': 3, 'type': 'enemy'}, {'source': '666', 'target': '660', 'value': 2, 'type': 'enemy'}, {'source': '666', 'target': '652', 'value': 4, 'type': 'enemy'}, {'source': '710', 'target': '713', 'value': 4, 'type': 'enemy'}, {'source': '710', 'target': '750', 'value': 2, 'type': 'enemy'}, {'source': '710', 'target': '775', 'value': 1, 'type': 'enemy'}, {'source': '710', 'target': '365', 'value': 1, 'type': 'enemy'}, {'source': '710', 'target': '816', 'value': 10, 'type': 'enemy'}, {'source': '713', 'target': '710', 'value': 4, 'type': 'enemy'}, {'source': '731', 'target': '732', 'value': 5, 'type': 'enemy'}, {'source': '732', 'target': '731', 'value': 5, 'type': 'enemy'}, {'source': '310', 'target': '365', 'value': 1, 'type': 'enemy'}, {'source': '365', 'target': '310', 'value': 1, 'type': 'enemy'}, {'source': '365', 'target': '710', 'value': 1, 'type': 'enemy'}, {'source': '365', 'target': '700', 'value': 1, 'type': 'enemy'}, {'source': '91', 'target': '93', 'value': 1, 'type': 'enemy'}, {'source': '91', 'target': '92', 'value': 1, 'type': 'enemy'}, {'source': '93', 'target': '91', 'value': 1, 'type': 'enemy'}, {'source': '530', 'target': '520', 'value': 4, 'type': 'enemy'}, {'source': '530', 'target': '531', 'value': 4, 'type': 'enemy'}, {'source': '520', 'target': '530', 'value': 4, 'type': 'enemy'}, {'source': '616', 'target': '220', 'value': 1, 'type': 'enemy'}, {'source': '850', 'target': '210', 'value': 1, 'type': 'enemy'}, {'source': '850', 'target': '820', 'value': 4, 'type': 'enemy'}, {'source': '210', 'target': '850', 'value': 1, 'type': 'enemy'}, {'source': '615', 'target': '600', 'value': 1, 'type': 'enemy'}, {'source': '600', 'target': '615', 'value': 1, 'type': 'enemy'}, {'source': '820', 'target': '850', 'value': 4, 'type': 'enemy'}, {'source': '817', 'target': '816', 'value': 11, 'type': 'enemy'}, {'source': '816', 'target': '817', 'value': 11, 'type': 'enemy'}, {'source': '816', 'target': '811', 'value': 3, 'type': 'enemy'}, {'source': '816', 'target': '710', 'value': 10, 'type': 'enemy'}, {'source': '811', 'target': '800', 'value': 3, 'type': 'enemy'}, {'source': '811', 'target': '816', 'value': 3, 'type': 'enemy'}, {'source': '775', 'target': '710', 'value': 1, 'type': 'enemy'}, {'source': '92', 'target': '91', 'value': 1, 'type': 'enemy'}, {'source': '680', 'target': '678', 'value': 2, 'type': 'enemy'}, {'source': '678', 'target': '680', 'value': 2, 'type': 'enemy'}, {'source': '352', 'target': '640', 'value': 1, 'type': 'enemy'}, {'source': '640', 'target': '352', 'value': 1, 'type': 'enemy'}, {'source': '630', 'target': '645', 'value': 10, 'type': 'enemy'}, {'source': '160', 'target': '200', 'value': 1, 'type': 'enemy'}, {'source': '483', 'target': '475', 'value': 1, 'type': 'enemy'}, {'source': '483', 'target': '620', 'value': 1, 'type': 'enemy'}, {'source': '475', 'target': '483', 'value': 1, 'type': 'enemy'}, {'source': '475', 'target': '471', 'value': 1, 'type': 'enemy'}, {'source': '55', 'target': '2', 'value': 1, 'type': 'enemy'}, {'source': '2', 'target': '55', 'value': 1, 'type': 'enemy'}, {'source': '2', 'target': '95', 'value': 1, 'type': 'enemy'}, {'source': '2', 'target': '645', 'value': 1, 'type': 'enemy'}, {'source': '439', 'target': '432', 'value': 1, 'type': 'enemy'}, {'source': '432', 'target': '439', 'value': 1, 'type': 'enemy'}, {'source': '812', 'target': '800', 'value': 3, 'type': 'enemy'}, {'source': '620', 'target': '483', 'value': 1, 'type': 'enemy'}, {'source': '95', 'target': '2', 'value': 1, 'type': 'enemy'}, {'source': '690', 'target': '645', 'value': 2, 'type': 'enemy'}, {'source': '130', 'target': '135', 'value': 1, 'type': 'enemy'}, {'source': '135', 'target': '130', 'value': 1, 'type': 'enemy'}, {'source': '471', 'target': '475', 'value': 1, 'type': 'enemy'}, {'source': '531', 'target': '530', 'value': 4, 'type': 'enemy'}, {'source': '531', 'target': '522', 'value': 1, 'type': 'enemy'}, {'source': '900', 'target': '645', 'value': 1, 'type': 'enemy'}, {'source': '510', 'target': '500', 'value': 1, 'type': 'enemy'}, {'source': '500', 'target': '510', 'value': 1, 'type': 'enemy'}, {'source': '700', 'target': '365', 'value': 1, 'type': 'enemy'}, {'source': '522', 'target': '531', 'value': 1, 'type': 'enemy'}, {'source': '626', 'target': '625', 'value': 1, 'type': 'enemy'}, {'source': '625', 'target': '626', 'value': 1, 'type': 'enemy'}]
[{'source': '800', 'target': '220', 'value': 1, 'type': 'ally'}, {'source': '800', 'target': '811', 'value': 3, 'type': 'ally'}, {'source': '800', 'target': '812', 'value': 3, 'type': 'ally'}, {'source': '200', 'target': '339', 'value': 1, 'type': 'ally'}, {'source': '200', 'target': '651', 'value': 2, 'type': 'ally'}, {'source': '200', 'target': '160', 'value': 1, 'type': 'ally'}, {'source': '200', 'target': '900', 'value': 1, 'type': 'ally'}, {'source': '200', 'target': '2', 'value': 1, 'type': 'ally'}, {'source': '750', 'target': '751', 'value': 1, 'type': 'ally'}, {'source': '750', 'target': '710', 'value': 2, 'type': 'ally'}, {'source': '770', 'target': '750', 'value': 22, 'type': 'ally'}, {'source': '651', 'target': '645', 'value': 2, 'type': 'ally'}, {'source': '651', 'target': '663', 'value': 2, 'type': 'ally'}, {'source': '651', 'target': '660', 'value': 2, 'type': 'ally'}, {'source': '651', 'target': '652', 'value': 2, 'type': 'ally'}, {'source': '645', 'target': '651', 'value': 2, 'type': 'ally'}, {'source': '645', 'target': '663', 'value': 2, 'type': 'ally'}, {'source': '645', 'target': '660', 'value': 2, 'type': 'ally'}, {'source': '645', 'target': '652', 'value': 2, 'type': 'ally'}, {'source': '645', 'target': '630', 'value': 10, 'type': 'ally'}, {'source': '645', 'target': '900', 'value': 1, 'type': 'ally'}, {'source': '645', 'target': '200', 'value': 1, 'type': 'ally'}, {'source': '645', 'target': '2', 'value': 1, 'type': 'ally'}, {'source': '663', 'target': '651', 'value': 2, 'type': 'ally'}, {'source': '663', 'target': '645', 'value': 2, 'type': 'ally'}, {'source': '663', 'target': '660', 'value': 2, 'type': 'ally'}, {'source': '663', 'target': '652', 'value': 2, 'type': 'ally'}, {'source': '663', 'target': '666', 'value': 1, 'type': 'ally'}, {'source': '660', 'target': '651', 'value': 2, 'type': 'ally'}, {'source': '660', 'target': '645', 'value': 2, 'type': 'ally'}, {'source': '660', 'target': '663', 'value': 2, 'type': 'ally'}, {'source': '660', 'target': '652', 'value': 2, 'type': 'ally'}, {'source': '652', 'target': '651', 'value': 2, 'type': 'ally'}, {'source': '652', 'target': '645', 'value': 2, 'type': 'ally'}, {'source': '652', 'target': '663', 'value': 2, 'type': 'ally'}, {'source': '652', 'target': '660', 'value': 2, 'type': 'ally'}, {'source': '652', 'target': '666', 'value': 2, 'type': 'ally'}, {'source': '666', 'target': '651', 'value': 6, 'type': 'ally'}, {'source': '666', 'target': '645', 'value': 2, 'type': 'ally'}, {'source': '666', 'target': '663', 'value': 2, 'type': 'ally'}, {'source': '666', 'target': '660', 'value': 2, 'type': 'ally'}, {'source': '666', 'target': '652', 'value': 2, 'type': 'ally'}, {'source': '713', 'target': '710', 'value': 4, 'type': 'ally'}, {'source': '732', 'target': '731', 'value': 5, 'type': 'ally'}, {'source': '365', 'target': '310', 'value': 1, 'type': 'ally'}, {'source': '365', 'target': '710', 'value': 1, 'type': 'ally'}, {'source': '365', 'target': '700', 'value': 1, 'type': 'ally'}, {'source': '91', 'target': '92', 'value': 1, 'type': 'ally'}, {'source': '93', 'target': '91', 'value': 1, 'type': 'ally'}, {'source': '530', 'target': '531', 'value': 4, 'type': 'ally'}, {'source': '520', 'target': '530', 'value': 4, 'type': 'ally'}, {'source': '616', 'target': '220', 'value': 1, 'type': 'ally'}, {'source': '210', 'target': '850', 'value': 1, 'type': 'ally'}, {'source': '600', 'target': '615', 'value': 1, 'type': 'ally'}, {'source': '820', 'target': '850', 'value': 4, 'type': 'ally'}, {'source': '816', 'target': '817', 'value': 11, 'type': 'ally'}, {'source': '816', 'target': '811', 'value': 3, 'type': 'ally'}, {'source': '816', 'target': '710', 'value': 10, 'type': 'ally'}, {'source': '775', 'target': '710', 'value': 1, 'type': 'ally'}, {'source': '678', 'target': '680', 'value': 2, 'type': 'ally'}, {'source': '640', 'target': '352', 'value': 1, 'type': 'ally'}, {'source': '475', 'target': '483', 'value': 1, 'type': 'ally'}, {'source': '475', 'target': '471', 'value': 1, 'type': 'ally'}, {'source': '2', 'target': '55', 'value': 1, 'type': 'ally'}, {'source': '2', 'target': '95', 'value': 1, 'type': 'ally'}, {'source': '2', 'target': '900', 'value': 1, 'type': 'ally'}, {'source': '2', 'target': '200', 'value': 1, 'type': 'ally'}, {'source': '432', 'target': '439', 'value': 1, 'type': 'ally'}, {'source': '620', 'target': '483', 'value': 1, 'type': 'ally'}, {'source': '690', 'target': '645', 'value': 2, 'type': 'ally'}, {'source': '135', 'target': '130', 'value': 1, 'type': 'ally'}, {'source': '531', 'target': '522', 'value': 1, 'type': 'ally'}, {'source': '900', 'target': '200', 'value': 1, 'type': 'ally'}, {'source': '900', 'target': '2', 'value': 1, 'type': 'ally'}, {'source': '500', 'target': '510', 'value': 1, 'type': 'ally'}, {'source': '625', 'target': '626', 'value': 1, 'type': 'ally'}]

In [10]:
ccodes = pd.read_csv('data/raw_data/COW_country_codes.csv')
ccodes.head()

  StateAbb  CCode                  StateNme
0      USA      2  United States of America
1      CAN     20                    Canada
2      BHM     31                   Bahamas
3      CUB     40                      Cuba
4      CUB     40                      Cuba

In [11]:
ccode_converter = {}

for i, row in ccodes.iterrows():
    if row['CCode'] not in ccode_converter:
        ccode_converter[row['CCode']]=row['StateAbb']
    
print(ccode_converter)

{2: 'USA', 20: 'CAN', 31: 'BHM', 40: 'CUB', 41: 'HAI', 42: 'DOM', 51: 'JAM', 52: 'TRI', 53: 'BAR', 54: 'DMA', 55: 'GRN', 56: 'SLU', 57: 'SVG', 58: 'AAB', 60: 'SKN', 70: 'MEX', 80: 'BLZ', 90: 'GUA', 91: 'HON', 92: 'SAL', 93: 'NIC', 94: 'COS', 95: 'PAN', 100: 'COL', 101: 'VEN', 110: 'GUY', 115: 'SUR', 130: 'ECU', 135: 'PER', 140: 'BRA', 145: 'BOL', 150: 'PAR', 155: 'CHL', 160: 'ARG', 165: 'URU', 200: 'UKG', 205: 'IRE', 210: 'NTH', 211: 'BEL', 212: 'LUX', 220: 'FRN', 221: 'MNC', 223: 'LIE', 225: 'SWZ', 230: 'SPN', 232: 'AND', 235: 'POR', 240: 'HAN', 245: 'BAV', 255: 'GMY', 260: 'GFR', 265: 'GDR', 267: 'BAD', 269: 'SAX', 271: 'WRT', 273: 'HSE', 275: 'HSG', 280: 'MEC', 290: 'POL', 300: 'AUH', 305: 'AUS', 310: 'HUN', 315: 'CZE', 316: 'CZR', 317: 'SLO', 325: 'ITA', 327: 'PAP', 329: 'SIC', 331: 'SNM', 332: 'MOD', 335: 'PMA', 337: 'TUS', 338: 'MLT', 339: 'ALB', 341: 'MNG', 343: 'MAC', 344: 'CRO', 345: 'YUG', 346: 'BOS', 347: 'KOS', 349: 'SLV', 350: 'GRC', 352: 'CYP', 355: 'BUL', 359: 'MLD', 360: 'ROM', 365: 'RUS', 366: 'EST', 367: 'LAT', 368: 'LIT', 369: 'UKR', 370: 'BLR', 371: 'ARM', 372: 'GRG', 373: 'AZE', 375: 'FIN', 380: 'SWD', 385: 'NOR', 390: 'DEN', 395: 'ICE', 402: 'CAP', 403: 'STP', 404: 'GNB', 411: 'EQG', 420: 'GAM', 432: 'MLI', 433: 'SEN', 434: 'BEN', 435: 'MAA', 436: 'NIR', 437: 'CDI', 438: 'GUI', 439: 'BFO', 450: 'LBR', 451: 'SIE', 452: 'GHA', 461: 'TOG', 471: 'CAO', 475: 'NIG', 481: 'GAB', 482: 'CEN', 483: 'CHA', 484: 'CON', 490: 'DRC', 500: 'UGA', 501: 'KEN', 510: 'TAZ', 511: 'ZAN', 516: 'BUI', 517: 'RWA', 520: 'SOM', 522: 'DJI', 530: 'ETH', 531: 'ERI', 540: 'ANG', 541: 'MZM', 551: 'ZAM', 552: 'ZIM', 553: 'MAW', 560: 'SAF', 565: 'NAM', 570: 'LES', 571: 'BOT', 572: 'SWA', 580: 'MAG', 581: 'COM', 590: 'MAS', 591: 'SEY', 600: 'MOR', 615: 'ALG', 616: 'TUN', 620: 'LIB', 625: 'SUD', 626: 'SSD', 630: 'IRN', 640: 'TUR', 645: 'IRQ', 651: 'EGY', 652: 'SYR', 660: 'LEB', 663: 'JOR', 666: 'ISR', 670: 'SAU', 678: 'YAR', 679: 'YEM', 680: 'YPR', 690: 'KUW', 692: 'BAH', 694: 'QAT', 696: 'UAE', 698: 'OMA', 700: 'AFG', 701: 'TKM', 702: 'TAJ', 703: 'KYR', 704: 'UZB', 705: 'KZK', 710: 'CHN', 712: 'MON', 713: 'TAW', 730: 'KOR', 731: 'PRK', 732: 'ROK', 740: 'JPN', 750: 'IND', 760: 'BHU', 770: 'PAK', 771: 'BNG', 775: 'MYA', 780: 'SRI', 781: 'MAD', 790: 'NEP', 800: 'THI', 811: 'CAM', 812: 'LAO', 816: 'DRV', 817: 'RVN', 820: 'MAL', 830: 'SIN', 835: 'BRU', 840: 'PHI', 850: 'INS', 860: 'ETM', 900: 'AUL', 910: 'PNG', 920: 'NEW', 935: 'VAN', 940: 'SOL', 946: 'KIR', 947: 'TUV', 950: 'FIJ', 955: 'TON', 970: 'NAU', 983: 'MSI', 986: 'PAL', 987: 'FSM', 990: 'WSM'}

In [12]:
folder = 'data/formatted_data/'
with open(folder + 'nodes.json', 'w') as f1,\
    open(folder + 'conflicts.json', 'w') as f2,\
    open(folder + 'alliances.json', 'w') as f3,\
    open(folder + 'ccode_converter.json', 'w') as f4, \
    open(folder + 'combined_links.json', 'w') as f5:
        f1.write(json.dumps(nodes_json))
        f2.write(json.dumps(conflicts_json))
        f3.write(json.dumps(alliances_json))
        f4.write(json.dumps(ccode_converter))
        f5.write(json.dumps(combined_links_json))