In [3]:
import numpy as np
import pandas as pd

In [7]:
conf = pd.read_csv("ucdp-prio-acd-181.csv")
conf.head()

,conflict_id,location,side_a,side_a_id,side_a_2nd,side_b,side_b_id,side_b_2nd,incompatibility,territory_name,...,ep_end,ep_end_date,ep_end_prec,gwno_a,gwno_a_2nd,gwno_b,gwno_b.1,gwno_loc,region,version
0,200,Bolivia,Government of Bolivia,23,NaN,Popular Revolutionary Movement,719,NaN,2,NaN,...,1,1946-07-21,1.0,145,NaN,NaN,NaN,145,5,18.1
1,200,Bolivia,Government of Bolivia,23,NaN,MNR,720,NaN,2,NaN,...,1,1952-04-12,1.0,145,NaN,NaN,NaN,145,5,18.1
2,200,Bolivia,Government of Bolivia,23,NaN,ELN,721,NaN,2,NaN,...,1,1967-10-16,1.0,145,NaN,NaN,NaN,145,5,18.1
3,201,Cambodia (Kampuchea),Government of France,33,NaN,Khmer Issarak,160,NaN,1,Cambodia,...,0,NaN,NaN,220,NaN,NaN,NaN,811,3,18.1
4,201,Cambodia (Kampuchea),Government of France,33,NaN,Khmer Issarak,160,NaN,1,Cambodia,...,0,NaN,NaN,220,NaN,NaN,NaN,811,3,18.1

In [56]:
def integerize(x):
    try:
        return int(x)
    except ValueError:
        return 0
    

country_conf = conf[conf.gwno_b.apply(integerize) > 0]
print(country_conf.shape)
print(country_conf.columns)
country_conf.head()

(125, 28)
Index(['conflict_id', 'location', 'side_a', 'side_a_id', 'side_a_2nd',
       'side_b', 'side_b_id', 'side_b_2nd', 'incompatibility',
       'territory_name', 'year', 'intensity_level', 'cumulative_intensity',
       'type_of_conflict', 'start_date', 'start_prec', 'start_date2',
       'start_prec2', 'ep_end', 'ep_end_date', 'ep_end_prec', 'gwno_a',
       'gwno_a_2nd', 'gwno_b', 'gwno_b.1', 'gwno_loc', 'region', 'version'],
      dtype='object')

,conflict_id,location,side_a,side_a_id,side_a_2nd,side_b,side_b_id,side_b_2nd,incompatibility,territory_name,...,ep_end,ep_end_date,ep_end_prec,gwno_a,gwno_a_2nd,gwno_b,gwno_b.1,gwno_loc,region,version
119,214,"France, Thailand",Government of France,33,NaN,Government of Thailand,147,NaN,1,Northern Cambodia,...,1,1946-11-17,1.0,220,NaN,800,NaN,"220, 800","1, 3",18.1
120,215,"Albania, United Kingdom",Government of Albania,45,NaN,Government of United Kingdom,28,NaN,1,Korfu Channel,...,1,1946-12-31,5.0,339,NaN,200,NaN,"200, 339",1,18.1
131,218,"India, Pakistan",Government of India,141,NaN,Government of Pakistan,142,NaN,1,Kashmir,...,1,1948-12-31,1.0,750,NaN,770,NaN,"750, 770",3,18.1
132,218,"India, Pakistan",Government of India,141,NaN,Government of Pakistan,142,NaN,1,Kashmir,...,0,NaN,NaN,750,NaN,770,NaN,"750, 770",3,18.1
133,218,"India, Pakistan",Government of India,141,NaN,Government of Pakistan,142,NaN,1,Kashmir,...,1,1965-12-15,1.0,750,NaN,770,NaN,"750, 770",3,18.1

In [25]:
print(country_conf['gwno_a'])

119                         220
120                         339
131                         750
132                         750
133                         750
134                         750
135                         750
136                         750
137                         750
138                         750
139                         750
140                         750
141                         750
142                         750
143                         750
144                         750
145                         750
146                         750
147                         750
148                         750
149                         750
150                         750
151                         750
152                         750
314                         751
348     651, 645, 663, 660, 652
349     651, 645, 663, 660, 652
424                         710
425                         710
426                         710
                 ...
1567                        710
1568                        710
1569                        710
1570                        710
1677                        160
1700                        483
1701                         55
1776                        439
1777                        812
1778                        812
1779                        812
1784                        483
1845                         95
1853                        645
1854                        645
2028                        130
2044                        471
2053                        531
2054                        531
2055                        531
2056                        531
2130                900, 200, 2
2175                        510
2188                        700
2199                        522
2224                        651
2225                        651
2226                        651
2227                        651
2247                        626
Name: gwno_a, Length: 125, dtype: object

In [51]:
nodes = set()
country_name_gwno_mapping = {}


for i, row in country_conf.iterrows():
    for num, name in zip(row['gwno_a'].split(','), row['side_a'].split(',')):
        if num not in country_name_gwno_mapping:
            country_name_gwno_mapping[num]= name.strip()
        nodes.add(num.strip())
        
    for num, name in zip(row['gwno_b'].split(','), row['side_b'].split(',')):
        if num not in country_name_gwno_mapping:
            country_name_gwno_mapping[num]= name.strip()
        nodes.add(num.strip())

In [52]:
print(nodes)
# print(country_name_gwno_mapping)
for k, v in country_name_gwno_mapping.items():
    print(k, v)

{'160', '850', '93', '483', '751', '690', '750', '530', '95', '200', '775', '439', '620', '475', '130', '310', '432', '900', '626', '811', '812', '339', '92', '678', '616', '732', '640', '713', '645', '531', '220', '651', '663', '816', '770', '522', '731', '210', '710', '352', '500', '625', '652', '615', '700', '820', '91', '55', '520', '2', '666', '365', '680', '660', '135', '471', '510', '600', '800', '817', '630'}
220 Government of France
800 Government of Thailand
339 Government of Albania
200 Government of United Kingdom
750 Government of India
770 Government of Pakistan
751 Government of Hyderabad
651 Government of Egypt
 645 Government of Iraq
 663 Government of Jordan
 660 Government of Lebanon
 652 Government of Syria
666 Government of Israel
710 Government of China
713 Government of Taiwan
731 Government of North Korea
732 Government of South Korea
310 Government of Hungary
365 Government of Russia (Soviet Union)
91 Government of Honduras
93 Government of Nicaragua
530 Government of Ethiopia
520 Government of Somalia
616 Government of Tunisia
850 Government of Indonesia
210 Government of Netherlands
615 Government of Algeria
600 Government of Morocco
820 Government of Malaysia
817 Government of South Vietnam
816 Government of Vietnam (North Vietnam)
811 Government of Cambodia (Kampuchea)
663 Government of Jordan
652 Government of Syria
775 Government of Myanmar (Burma)
92 Government of El Salvador
680 Government of South Yemen
678 Government of Yemen (North Yemen)
352 Government of Cyprus
640 Government of Turkey
630 Government of Iran
645 Government of Iraq
160 Government of Argentina
483 Government of Chad
475 Government of Nigeria
55 Government of Grenada
2 Government of United States of America
439 Government of Burkina Faso
432 Government of Mali
812 Government of Laos
620 Government of Libya
95 Government of Panama
690 Government of Kuwait
130 Government of Ecuador
135 Government of Peru
471 Government of Cameroon
531 Government of Eritrea
900 Government of Australia
 200 Government of United Kingdom
 2 Government of United States of America
510 Government of Tanzania
500 Government of Uganda
700 Government of Afghanistan
522 Government of Djibouti
626 Government of South Sudan
625 Government of Sudan

In [36]:
links = {}

for i, row in country_conf.iterrows():
    side_a = [num.strip() for num in row['gwno_a'].split(',')]
    
    side_b = [num.strip() for num in row['gwno_b'].split(',')]
    
    for num_a in side_a:
        if num_a not in links:
            links[num_a] = {}
        for num_b in side_b:
            if num_b in links[num_a]:
                links[num_a][num_b] += 1
#                 links[num_a][num_b][1].append(row['start_date'])
            else:
                links[num_a][num_b] = 1
#                 links[num_a][num_b] = [1, [row['start_date']]]
                
    for num_b in side_b:
        if num_b not in links:
            links[num_b] = {}
        for num_a in side_a:
            if num_a in links[num_b]:
                links[num_b][num_a] += 1
            else:
                links[num_b][num_a] = 1

In [35]:
print(links)

{'220': {'800': 1, '616': 1}, '339': {'200': 1}, '750': {'770': 22}, '751': {'750': 1}, '651': {'666': 6, '200': 2}, ' 645': {'666': 2}, ' 663': {'666': 2}, ' 660': {'666': 2}, ' 652': {'666': 2}, '710': {'713': 4, '750': 2, '775': 1, '365': 1, '816': 10}, '731': {'732': 5}, '310': {'365': 1}, '91': {'93': 1}, '530': {'520': 4}, '850': {'210': 1, '820': 4}, '615': {'600': 1}, '817': {'816': 11}, '811': {'800': 3, '816': 3}, '666': {'663': 1, '652': 2}, '92': {'91': 1}, '680': {'678': 2}, '352': {'640': 1}, '630': {'645': 10}, '160': {'200': 1}, '483': {'475': 1, '620': 1}, '55': {'2': 1}, '439': {'432': 1}, '812': {'800': 3}, '95': {'2': 1}, '645': {'690': 2}, '130': {'135': 1}, '471': {'475': 1}, '531': {'530': 4}, '900': {'645': 1}, ' 200': {'645': 1}, ' 2': {'645': 1}, '510': {'500': 1}, '700': {'365': 1}, '522': {'531': 1}, '626': {'625': 1}}

In [38]:
nodes_json = [{'id': i}for i in nodes]
print(nodes_json)
links_json = [{'start': a, 'end': b, 'weight': w } for a, v in links.items() for b, w in v.items() ]
print(links_json)

[{'id': '160'}, {'id': '850'}, {'id': '93'}, {'id': '483'}, {'id': '751'}, {'id': '690'}, {'id': '750'}, {'id': '530'}, {'id': '95'}, {'id': '200'}, {'id': '775'}, {'id': '439'}, {'id': '620'}, {'id': '475'}, {'id': '130'}, {'id': ' 652'}, {'id': ' 660'}, {'id': '310'}, {'id': '432'}, {'id': '900'}, {'id': '626'}, {'id': ' 200'}, {'id': '811'}, {'id': '812'}, {'id': '339'}, {'id': '92'}, {'id': '678'}, {'id': '616'}, {'id': ' 2'}, {'id': '732'}, {'id': '640'}, {'id': '713'}, {'id': '645'}, {'id': '531'}, {'id': '220'}, {'id': '651'}, {'id': '663'}, {'id': '816'}, {'id': '770'}, {'id': '522'}, {'id': '731'}, {'id': '210'}, {'id': '710'}, {'id': '352'}, {'id': '500'}, {'id': '625'}, {'id': '615'}, {'id': ' 663'}, {'id': '652'}, {'id': '820'}, {'id': '700'}, {'id': '91'}, {'id': '55'}, {'id': '520'}, {'id': '2'}, {'id': '666'}, {'id': '365'}, {'id': '680'}, {'id': '135'}, {'id': ' 645'}, {'id': '471'}, {'id': '510'}, {'id': '600'}, {'id': '800'}, {'id': '817'}, {'id': '630'}]
[{'start': '220', 'end': '800', 'weight': 1}, {'start': '220', 'end': '616', 'weight': 1}, {'start': '800', 'end': '220', 'weight': 1}, {'start': '800', 'end': '811', 'weight': 3}, {'start': '800', 'end': '812', 'weight': 3}, {'start': '339', 'end': '200', 'weight': 1}, {'start': '200', 'end': '339', 'weight': 1}, {'start': '200', 'end': '651', 'weight': 2}, {'start': '200', 'end': '160', 'weight': 1}, {'start': '750', 'end': '770', 'weight': 22}, {'start': '750', 'end': '751', 'weight': 1}, {'start': '750', 'end': '710', 'weight': 2}, {'start': '770', 'end': '750', 'weight': 22}, {'start': '751', 'end': '750', 'weight': 1}, {'start': '651', 'end': '666', 'weight': 6}, {'start': '651', 'end': '200', 'weight': 2}, {'start': ' 645', 'end': '666', 'weight': 2}, {'start': ' 663', 'end': '666', 'weight': 2}, {'start': ' 660', 'end': '666', 'weight': 2}, {'start': ' 652', 'end': '666', 'weight': 2}, {'start': '666', 'end': '651', 'weight': 6}, {'start': '666', 'end': ' 645', 'weight': 2}, {'start': '666', 'end': ' 663', 'weight': 2}, {'start': '666', 'end': ' 660', 'weight': 2}, {'start': '666', 'end': ' 652', 'weight': 2}, {'start': '666', 'end': '663', 'weight': 1}, {'start': '666', 'end': '652', 'weight': 2}, {'start': '710', 'end': '713', 'weight': 4}, {'start': '710', 'end': '750', 'weight': 2}, {'start': '710', 'end': '775', 'weight': 1}, {'start': '710', 'end': '365', 'weight': 1}, {'start': '710', 'end': '816', 'weight': 10}, {'start': '713', 'end': '710', 'weight': 4}, {'start': '731', 'end': '732', 'weight': 5}, {'start': '732', 'end': '731', 'weight': 5}, {'start': '310', 'end': '365', 'weight': 1}, {'start': '365', 'end': '310', 'weight': 1}, {'start': '365', 'end': '710', 'weight': 1}, {'start': '365', 'end': '700', 'weight': 1}, {'start': '91', 'end': '93', 'weight': 1}, {'start': '91', 'end': '92', 'weight': 1}, {'start': '93', 'end': '91', 'weight': 1}, {'start': '530', 'end': '520', 'weight': 4}, {'start': '530', 'end': '531', 'weight': 4}, {'start': '520', 'end': '530', 'weight': 4}, {'start': '616', 'end': '220', 'weight': 1}, {'start': '850', 'end': '210', 'weight': 1}, {'start': '850', 'end': '820', 'weight': 4}, {'start': '210', 'end': '850', 'weight': 1}, {'start': '615', 'end': '600', 'weight': 1}, {'start': '600', 'end': '615', 'weight': 1}, {'start': '820', 'end': '850', 'weight': 4}, {'start': '817', 'end': '816', 'weight': 11}, {'start': '816', 'end': '817', 'weight': 11}, {'start': '816', 'end': '811', 'weight': 3}, {'start': '816', 'end': '710', 'weight': 10}, {'start': '811', 'end': '800', 'weight': 3}, {'start': '811', 'end': '816', 'weight': 3}, {'start': '663', 'end': '666', 'weight': 1}, {'start': '652', 'end': '666', 'weight': 2}, {'start': '775', 'end': '710', 'weight': 1}, {'start': '92', 'end': '91', 'weight': 1}, {'start': '680', 'end': '678', 'weight': 2}, {'start': '678', 'end': '680', 'weight': 2}, {'start': '352', 'end': '640', 'weight': 1}, {'start': '640', 'end': '352', 'weight': 1}, {'start': '630', 'end': '645', 'weight': 10}, {'start': '645', 'end': '630', 'weight': 10}, {'start': '645', 'end': '690', 'weight': 2}, {'start': '645', 'end': '900', 'weight': 1}, {'start': '645', 'end': ' 200', 'weight': 1}, {'start': '645', 'end': ' 2', 'weight': 1}, {'start': '160', 'end': '200', 'weight': 1}, {'start': '483', 'end': '475', 'weight': 1}, {'start': '483', 'end': '620', 'weight': 1}, {'start': '475', 'end': '483', 'weight': 1}, {'start': '475', 'end': '471', 'weight': 1}, {'start': '55', 'end': '2', 'weight': 1}, {'start': '2', 'end': '55', 'weight': 1}, {'start': '2', 'end': '95', 'weight': 1}, {'start': '439', 'end': '432', 'weight': 1}, {'start': '432', 'end': '439', 'weight': 1}, {'start': '812', 'end': '800', 'weight': 3}, {'start': '620', 'end': '483', 'weight': 1}, {'start': '95', 'end': '2', 'weight': 1}, {'start': '690', 'end': '645', 'weight': 2}, {'start': '130', 'end': '135', 'weight': 1}, {'start': '135', 'end': '130', 'weight': 1}, {'start': '471', 'end': '475', 'weight': 1}, {'start': '531', 'end': '530', 'weight': 4}, {'start': '531', 'end': '522', 'weight': 1}, {'start': '900', 'end': '645', 'weight': 1}, {'start': ' 200', 'end': '645', 'weight': 1}, {'start': ' 2', 'end': '645', 'weight': 1}, {'start': '510', 'end': '500', 'weight': 1}, {'start': '500', 'end': '510', 'weight': 1}, {'start': '700', 'end': '365', 'weight': 1}, {'start': '522', 'end': '531', 'weight': 1}, {'start': '626', 'end': '625', 'weight': 1}, {'start': '625', 'end': '626', 'weight': 1}]

In [59]:
ccodes = pd.read_csv('COW country codes.csv')
ccodes.head()

  StateAbb  CCode                  StateNme
0      USA      2  United States of America
1      CAN     20                    Canada
2      BHM     31                   Bahamas
3      CUB     40                      Cuba
4      CUB     40                      Cuba

In [60]:
ccode_converter = {}

for i, row in ccodes.iterrows():
    if row['CCode'] not in ccode_converter:
        ccode_converter[row['CCode']]=row['StateAbb']
    
print(ccode_converter)

{2: 'USA', 20: 'CAN', 31: 'BHM', 40: 'CUB', 41: 'HAI', 42: 'DOM', 51: 'JAM', 52: 'TRI', 53: 'BAR', 54: 'DMA', 55: 'GRN', 56: 'SLU', 57: 'SVG', 58: 'AAB', 60: 'SKN', 70: 'MEX', 80: 'BLZ', 90: 'GUA', 91: 'HON', 92: 'SAL', 93: 'NIC', 94: 'COS', 95: 'PAN', 100: 'COL', 101: 'VEN', 110: 'GUY', 115: 'SUR', 130: 'ECU', 135: 'PER', 140: 'BRA', 145: 'BOL', 150: 'PAR', 155: 'CHL', 160: 'ARG', 165: 'URU', 200: 'UKG', 205: 'IRE', 210: 'NTH', 211: 'BEL', 212: 'LUX', 220: 'FRN', 221: 'MNC', 223: 'LIE', 225: 'SWZ', 230: 'SPN', 232: 'AND', 235: 'POR', 240: 'HAN', 245: 'BAV', 255: 'GMY', 260: 'GFR', 265: 'GDR', 267: 'BAD', 269: 'SAX', 271: 'WRT', 273: 'HSE', 275: 'HSG', 280: 'MEC', 290: 'POL', 300: 'AUH', 305: 'AUS', 310: 'HUN', 315: 'CZE', 316: 'CZR', 317: 'SLO', 325: 'ITA', 327: 'PAP', 329: 'SIC', 331: 'SNM', 332: 'MOD', 335: 'PMA', 337: 'TUS', 338: 'MLT', 339: 'ALB', 341: 'MNG', 343: 'MAC', 344: 'CRO', 345: 'YUG', 346: 'BOS', 347: 'KOS', 349: 'SLV', 350: 'GRC', 352: 'CYP', 355: 'BUL', 359: 'MLD', 360: 'ROM', 365: 'RUS', 366: 'EST', 367: 'LAT', 368: 'LIT', 369: 'UKR', 370: 'BLR', 371: 'ARM', 372: 'GRG', 373: 'AZE', 375: 'FIN', 380: 'SWD', 385: 'NOR', 390: 'DEN', 395: 'ICE', 402: 'CAP', 403: 'STP', 404: 'GNB', 411: 'EQG', 420: 'GAM', 432: 'MLI', 433: 'SEN', 434: 'BEN', 435: 'MAA', 436: 'NIR', 437: 'CDI', 438: 'GUI', 439: 'BFO', 450: 'LBR', 451: 'SIE', 452: 'GHA', 461: 'TOG', 471: 'CAO', 475: 'NIG', 481: 'GAB', 482: 'CEN', 483: 'CHA', 484: 'CON', 490: 'DRC', 500: 'UGA', 501: 'KEN', 510: 'TAZ', 511: 'ZAN', 516: 'BUI', 517: 'RWA', 520: 'SOM', 522: 'DJI', 530: 'ETH', 531: 'ERI', 540: 'ANG', 541: 'MZM', 551: 'ZAM', 552: 'ZIM', 553: 'MAW', 560: 'SAF', 565: 'NAM', 570: 'LES', 571: 'BOT', 572: 'SWA', 580: 'MAG', 581: 'COM', 590: 'MAS', 591: 'SEY', 600: 'MOR', 615: 'ALG', 616: 'TUN', 620: 'LIB', 625: 'SUD', 626: 'SSD', 630: 'IRN', 640: 'TUR', 645: 'IRQ', 651: 'EGY', 652: 'SYR', 660: 'LEB', 663: 'JOR', 666: 'ISR', 670: 'SAU', 678: 'YAR', 679: 'YEM', 680: 'YPR', 690: 'KUW', 692: 'BAH', 694: 'QAT', 696: 'UAE', 698: 'OMA', 700: 'AFG', 701: 'TKM', 702: 'TAJ', 703: 'KYR', 704: 'UZB', 705: 'KZK', 710: 'CHN', 712: 'MON', 713: 'TAW', 730: 'KOR', 731: 'PRK', 732: 'ROK', 740: 'JPN', 750: 'IND', 760: 'BHU', 770: 'PAK', 771: 'BNG', 775: 'MYA', 780: 'SRI', 781: 'MAD', 790: 'NEP', 800: 'THI', 811: 'CAM', 812: 'LAO', 816: 'DRV', 817: 'RVN', 820: 'MAL', 830: 'SIN', 835: 'BRU', 840: 'PHI', 850: 'INS', 860: 'ETM', 900: 'AUL', 910: 'PNG', 920: 'NEW', 935: 'VAN', 940: 'SOL', 946: 'KIR', 947: 'TUV', 950: 'FIJ', 955: 'TON', 970: 'NAU', 983: 'MSI', 986: 'PAL', 987: 'FSM', 990: 'WSM'}